coverage>=7
matplotlib>=2.1
black[jupyter]>=24.10
pylint>=3.2
pylatexenc>=1.4
stestr>=4
ddt>=1.6,!=1.7.0
reno>=4
Sphinx>=7
sphinx-design>=0.6
sphinxcontrib-spelling
jupyter-sphinx
discover
qiskit-aer>=0.17
mypy>=1.11
mypy-extensions>=0.4.3
nbsphinx
qiskit_sphinx_theme~=1.16.0
types-certifi
build>=1.2
twine>=6
tomli>=2
